@charset "UTF-8";
/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */
/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */
/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */
/*------------------------------------*\
    $DEFAULTS
\*------------------------------------*/
/**
 * inuit.css’ default variables. Redefine these in your `_vars.scss` file (found
 * in the inuit.css-web-template) to override them.
 */
/*------------------------------------*\
    $DEBUG
\*------------------------------------*/
/**
 * Debug mode will visually highlight any potential markup/accessibility quirks
 * in the browser. Set to `true` or `false`.
 */
/*------------------------------------*\
    $BORDER-BOX
\*------------------------------------*/
/**
 * Do you want all elements to adopt `box-sizing:border-box;` as per
 * paulirish.com/2012/box-sizing-border-box-ftw ?
 */
/*------------------------------------*\
    $BASE
\*------------------------------------*/
/**
 * Base stuff
 */
/**
 * Base font-family.
 */
/**
 * Default colour for objects’ borders etc.
 */
/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/
/**
 * Responsiveness?
 */
/**
 * Responsiveness for widescreen/high resolution desktop monitors and beyond?
 * Note: `$responsive` variable above must be set to true before enabling this.
 */
/**
 * Responsive push and pull produce a LOT of code, only turn them on if you
 * definitely need them.
 */
/**
 * Note: `$push` variable above must be set to true before enabling these.
 */
/**
 * Note: `$pull` variable above must be set to true before enabling these.
 */
/**
 * Tell inuit.css when breakpoints start.
 */
/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
/*------------------------------------*\
    $QUOTES
\*------------------------------------*/
/**
 * English quote marks?
 */
/**
 * If you want English quotes then please do not edit these; they’re only here
 * because Sass needs them.
 */
/**
 * If you need non-English quotes, please alter the following values accordingly:
 */
/*------------------------------------*\
    $BRAND
\*------------------------------------*/
/**
 * Brand stuff
 */
/**
 * How big would you like round corners to be by default?
 */
/*------------------------------------*\
    $OBJECTS AND ABSTRACTIONS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
/*------------------------------------*\
    $FRAMEWORK
\*------------------------------------*/
/**
 * inuit.css will work these next ones out for use within the framework.
 *
 * Assign our `$base-line-height` to a new spacing var for more transparency.
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */
/**
 * Style any number of headings in one fell swoop, e.g.:
 *
   .foo{
       @include headings(1, 3){
           color:#BADA55;
       }
    }
 *
 * With thanks to @lar_zzz, @paranoida and @rowanmanning and ultimately
 * @thierrylemoulec for refining and improving my initial mixin.
 */
/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
/**
 * Create CSS keyframe animations for all vendors in one go, e.g.:
 *
   .foo{
       @include vendor(animation, shrink 3s);
   }

   @include keyframe(shrink){
       from{
           font-size:5em;
       }
   }
 *
 * Courtesy of @integralist: twitter.com/integralist/status/260484115315437569
 */
/**
 * Force overly long spans of text to truncate, e.g.:
 *
   `@include truncate(100%);`
 *
 * Where `$truncation-boundary` is a united measurement.
 */
/**
 * CSS arrows!!! But... before you read on, you might want to grab a coffee...
 *
 * This mixin creates a CSS arrow on a given element. We can have the arrow
 * appear in one of 12 locations, thus:
 *
 *       01    02    03
 *    +------------------+
 * 12 |                  | 04
 *    |                  |
 * 11 |                  | 05
 *    |                  |
 * 10 |                  | 06
 *    +------------------+
 *       09    08    07
 *
 * You pass this position in along with a desired arrow color and optional
 * border color, for example:
 *
 * `@include arrow(top, left, red)`
 *
 * for just a single, red arrow, or:
 *
 * `@include arrow(bottom, center, red, black)`
 *
 * which will create a red triangle with a black border which sits at the bottom
 * center of the element. Call the mixin thus:
 *
   .foo{
       background-color:#BADA55;
       border:1px solid #ACE;
       @include arrow(top, left, #BADA55, #ACE);
   }
 *
 */
/**
 * Media query mixin.
 *
 * It’s not great practice to define solid breakpoints up-front, preferring to
 * modify your design when it needs it, rather than assuming you’ll want a
 * change at ‘mobile’. However, as inuit.css is required to take a hands off
 * approach to design decisions, this is the closest we can get to baked-in
 * responsiveness. It’s flexible enough to allow you to set your own breakpoints
 * but solid enough to be frameworkified.
 *
 * We define some broad breakpoints in our vars file that are picked up here
 * for use in a simple media query mixin. Our options are:
 *
 * palm
 * lap
 * lap-and-up
 * portable
 * desk
 * desk-wide
 *
 * Not using a media query will, naturally, serve styles to all devices.
 *
 * `@include media-query(palm){ [styles here] }`
 *
 * We work out your end points for you:
 */
/* normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/*
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Address styling not present in IE 8/9.
 */
/* line 50, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 64, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Remove default margin.
 */
/* line 74, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 86, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 108, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/*
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 117, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 126, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/*
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 134, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Address differences between Firefox and other browsers.
 */
/* line 142, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/*
 * Address styling not present in IE 8/9.
 */
/* line 152, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 164, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 173, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/*
 * Set consistent quote types.
 */
/* line 181, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Address inconsistent and variable font size in all browsers.
 */
/* line 189, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
small {
  font-size: 80%;
}

/*
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 198, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 205, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 209, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 221, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
img {
  border: 0;
}

/*
 * Correct overflow displayed oddly in IE 9.
 */
/* line 229, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 241, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 253, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 264, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 278, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 290, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 302, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
button,
select {
  text-transform: none;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 317, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 327, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/*
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 337, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 348, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 361, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in Firefox 4+.
 */
/* line 370, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 380, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 393, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
    $RESET
\*------------------------------------*/
/**
 * A more considered reset; more of a restart...
 * As per: csswizardry.com/2011/10/reset-restarted
 */
/**
* Let’s make the box model all nice, shall we...?
*/
/* line 16, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/**
 * The usual...
 */
/* line 30, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_reset.scss */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
/* line 38, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_reset.scss */
abbr[title], dfn[title] {
  cursor: help;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
/* line 45, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_reset.scss */
u, ins {
  text-decoration: none;
}

/**
 * Apply faux underline via `border-bottom`.
 */
/* line 52, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_reset.scss */
ins {
  border-bottom: 1px solid;
}

/**
 * So that `alt` text is visually offset if images don’t load.
 */
/* line 59, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_reset.scss */
img {
  font-style: italic;
}

/**
 * Give form elements some cursor interactions...
 */
/* line 71, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_reset.scss */
label,
input,
textarea,
button,
select,
option {
  cursor: pointer;
}

/* line 77, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_reset.scss */
.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
  outline: none;
}

/*------------------------------------*\
    $CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
/* line 10, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_clearfix.scss */
.cf:after, .nav:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------------------*\
    $SHARED
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned, this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
/**
 * Base elements
 */
/* line 24, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_shared.scss */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre,
.media,
.island,
.islet {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
/* line 28, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_shared.scss */
.islet h1, .islet h2, .islet h3, .islet h4, .islet h5, .islet h6, .islet hgroup, .islet
ul, .islet ol, .islet dl, .islet
blockquote, .islet p, .islet address, .islet
table, .islet
fieldset, .islet figure, .islet
pre, .islet
.media, .islet
.island, .islet
.islet {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}

/**
 * Doubled up `margin-bottom` helper class.
 */
/* line 38, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_shared.scss */
.landmark {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}

/**
 * `hr` elements only take up a few pixels, so we need to give them special
 * treatment regarding vertical rhythm.
 */
/* line 48, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_shared.scss */
hr {
  margin-bottom: 22px;
  margin-bottom: 1.375rem;
}

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
/* line 58, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_shared.scss */
ul, ol, dd {
  margin-left: 48px;
  margin-left: 3rem;
}

/*------------------------------------*\
    $BRAND
\*------------------------------------*/
/**
 * `.brand` is a quick and simple way to apply your brand face and/or color to
 * any element using a handy helper class.
 */
/* line 8, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_brand.scss */
.brand {
  font-family: "Helvetica Neue", sans-serif!important;
  color: #4a8ec2!important;
}

/* line 12, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_brand.scss */
.brand-face {
  font-family: "Helvetica Neue", sans-serif!important;
}

/* line 16, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_brand.scss */
.brand-color,
.brand-colour {
  color: #4a8ec2!important;
}

/*------------------------------------*\
    $HELPER
\*------------------------------------*/
/**
 * A series of helper classes to use arbitrarily. Only use a helper class if an
 * element/component doesn’t already have a class to which you could apply this
 * styling, e.g. if you need to float `.main-nav` left then add `float:left;` to
 * that ruleset as opposed to adding the `.float--left` class to the markup.
 *
 * A lot of these classes carry `!important` as you will always want them to win
 * out over other selectors.
 */
/**
 * Add/remove floats
 */
/* line 18, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.float--right {
  float: right !important;
}

/* line 19, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.float--left {
  float: left !important;
}

/* line 20, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.float--none {
  float: none !important;
}

/**
 * Text alignment
 */
/* line 26, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.text--left {
  text-align: left !important;
}

/* line 27, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.text--center {
  text-align: center !important;
}

/* line 28, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.text--right {
  text-align: right !important;
}

/**
 * Font weights
 */
/* line 34, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.weight--light {
  font-weight: 300 !important;
}

/* line 35, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.weight--normal {
  font-weight: 400 !important;
}

/* line 36, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.weight--semibold {
  font-weight: 600 !important;
}

/**
 * Add/remove margins
 */
/* line 42, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.push {
  margin: 24px !important;
}

/* line 43, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.push--top {
  margin-top: 24px !important;
}

/* line 44, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.push--right {
  margin-right: 24px !important;
}

/* line 45, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.push--bottom {
  margin-bottom: 24px !important;
}

/* line 46, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.push--left {
  margin-left: 24px !important;
}

/* line 47, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.push--ends {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}

/* line 48, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.push--sides {
  margin-right: 24px !important;
  margin-left: 24px !important;
}

/* line 50, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.push-half {
  margin: 12px !important;
}

/* line 51, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.push-half--top {
  margin-top: 12px !important;
}

/* line 52, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.push-half--right {
  margin-right: 12px !important;
}

/* line 53, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.push-half--bottom {
  margin-bottom: 12px !important;
}

/* line 54, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.push-half--left {
  margin-left: 12px !important;
}

/* line 55, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.push-half--ends {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

/* line 56, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.push-half--sides {
  margin-right: 12px !important;
  margin-left: 12px !important;
}

/* line 58, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.flush {
  margin: 0 !important;
}

/* line 59, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.flush--top {
  margin-top: 0 !important;
}

/* line 60, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.flush--right {
  margin-right: 0 !important;
}

/* line 61, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.flush--bottom {
  margin-bottom: 0 !important;
}

/* line 62, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.flush--left {
  margin-left: 0 !important;
}

/* line 63, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.flush--ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* line 64, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.flush--sides {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

/**
 * Add/remove paddings
 */
/* line 70, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.soft {
  padding: 24px !important;
}

/* line 71, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.soft--top {
  padding-top: 24px !important;
}

/* line 72, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.soft--right {
  padding-right: 24px !important;
}

/* line 73, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.soft--bottom {
  padding-bottom: 24px !important;
}

/* line 74, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.soft--left {
  padding-left: 24px !important;
}

/* line 75, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.soft--ends {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}

/* line 76, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.soft--sides {
  padding-right: 24px !important;
  padding-left: 24px !important;
}

/* line 78, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.soft-half {
  padding: 12px !important;
}

/* line 79, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.soft-half--top {
  padding-top: 12px !important;
}

/* line 80, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.soft-half--right {
  padding-right: 12px !important;
}

/* line 81, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.soft-half--bottom {
  padding-bottom: 12px !important;
}

/* line 82, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.soft-half--left {
  padding-left: 12px !important;
}

/* line 83, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.soft-half--ends {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

/* line 84, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.soft-half--sides {
  padding-right: 12px !important;
  padding-left: 12px !important;
}

/* line 86, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.hard {
  padding: 0 !important;
}

/* line 87, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.hard--top {
  padding-top: 0 !important;
}

/* line 88, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.hard--right {
  padding-right: 0 !important;
}

/* line 89, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.hard--bottom {
  padding-bottom: 0 !important;
}

/* line 90, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.hard--left {
  padding-left: 0 !important;
}

/* line 91, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.hard--ends {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* line 92, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.hard--sides {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/**
 * Pull items full width of `.island` parents.
 */
/* line 98, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.full-bleed {
  margin-right: -24px !important;
  margin-left: -24px !important;
}
/* line 102, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.islet .full-bleed {
  margin-right: -12px !important;
  margin-left: -12px !important;
}

/**
 * Add a help cursor to any element that gives the user extra information on
 * `:hover`.
 */
/* line 113, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.informative {
  cursor: help !important;
}

/**
 * Mute an object by reducing its opacity.
 */
/* line 121, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.muted {
  opacity: 0.5 !important;
  filter: alpha(opacity=50) !important;
}

/**
 * Align items to the right where they imply progression/movement forward, e.g.:
 *
   <p class=proceed><a href=#>Read more...</a></p>
 *
 */
/* line 133, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.proceed {
  text-align: right !important;
}

/**
 * Add a right-angled quote to links that imply movement, e.g.:
 *
   <a href=# class=go>Read more</a>
 *
 */
/* line 144, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.go:after {
  content: "\00A0" "\00BB" !important;
}

/**
 * Apply capital case to an element (usually a `strong`).
 */
/* line 152, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.caps {
  text-transform: uppercase !important;
}

/**
 * Hide content off-screen without resorting to `display:none;`, also provide
 * breakpoint specific hidden elements.
 */
/* line 172, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
.accessibility,
.visuallyhidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

@media only screen and (max-width: 480px) {
  /* line 179, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
  .accessibility--palm,
  .visuallyhidden--palm {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  /* line 179, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
  .accessibility--lap,
  .visuallyhidden--lap {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }
}
@media only screen and (min-width: 481px) {
  /* line 179, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
  .accessibility--lap-and-up,
  .visuallyhidden--lap-and-up {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }
}
@media only screen and (max-width: 1023px) {
  /* line 179, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
  .accessibility--portable,
  .visuallyhidden--portable {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 179, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
  .accessibility--desk,
  .visuallyhidden--desk {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 179, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/generic/_helper.scss */
  .accessibility--desk-wide,
  .visuallyhidden--desk-wide {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
  }
}
/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/* line 4, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/base/_main.scss */
html {
  font: 1em/1.5 sans-serif;
  overflow-y: scroll;
  min-height: 100%;
}

/*------------------------------------*\
    $NAV
\*------------------------------------*/
/**
 * Nav abstraction as per: csswizardry.com/2011/09/the-nav-abstraction
 * When used on an `ol` or `ul`, this class throws the list into horizontal mode
 * e.g.:
 *
   <ul class=nav>
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 * Demo: jsfiddle.net/inuitcss/Vnph4
 *
 */
/* line 21, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/objects/_nav.scss */
.nav {
  list-style: none;
  margin-left: 0;
}
/* line 29, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/objects/_nav.scss */
.nav > li,
.nav > li > a {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

/**
 * `.nav--stacked` extends `.nav` and throws the list into vertical mode, e.g.:
 *
   <ul class="nav  nav--stacked">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
/* line 51, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/objects/_nav.scss */
.nav--stacked > li {
  display: list-item;
}
/* line 54, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/objects/_nav.scss */
.nav--stacked > li > a {
  display: block;
}

/**
 * `.nav--banner` extends `.nav` and centres the list, e.g.:
 *
   <ul class="nav  nav--banner">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
/* line 72, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/objects/_nav.scss */
.nav--banner {
  text-align: center;
}

/**
 * Give nav links a big, blocky hit area. Extends `.nav`, e.g.:
 *
   <ul class="nav  nav--block">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 */
/* line 88, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/objects/_nav.scss */
.nav--block {
  line-height: 1;
  /**
   * Remove whitespace caused by `inline-block`.
   */
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
  white-space: nowrap;
}
/* line 97, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/objects/_nav.scss */
.nav--block > li {
  letter-spacing: normal;
  word-spacing: normal;
}
/* line 101, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/objects/_nav.scss */
.nav--block > li > a {
  padding: 12px;
}

/**
 * Force a nav to occupy 100% of the available width of its parent. Extends
 * `.nav`, e.g.:
 *
   <ul class="nav  nav--fit">
       <li><a href=#>Home</a></li>
       <li><a href=#>About</a></li>
       <li><a href=#>Portfolio</a></li>
       <li><a href=#>Contact</a></li>
   </ul>
 *
 * Thanks to @pimpl for this idea!
 */
/* line 121, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/objects/_nav.scss */
.nav--fit {
  display: table;
  width: 100%;
}
/* line 125, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/objects/_nav.scss */
.nav--fit > li {
  display: table-cell;
}
/* line 128, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/objects/_nav.scss */
.nav--fit > li > a {
  display: block;
}

/**
 * Make a list of keywords. Extends `.nav`, e.g.:
 *
   `<ul class="nav  nav--keywords>`
 *
 */
/* line 145, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/objects/_nav.scss */
.nav--keywords > li:after {
  content: "\002C" "\00A0";
}
/* line 149, ../../../../../../Users/lagden/.rvm/gems/ruby-1.9.3-p327/gems/compass-inuit-5.0.1/stylesheets/compass-inuit/objects/_nav.scss */
.nav--keywords > li:last-child:after {
  display: none;
}

/* line 68, ../sass/screen.scss */
html {
  font: 1em/1.5 Georgia, serif;
  background-color: #fff;
  color: #333;
}

/* line 74, ../sass/screen.scss */
.wrapper {
  max-width: 560px;
  padding: 0 24px;
  margin: 0 auto;
}

/* line 81, ../sass/screen.scss */
.nav li {
  min-width: 112px;
  min-height: 112px;
  line-height: 112px;
  background-color: red;
  text-align: center;
  vertical-align: top;
  display: block;
  float: left;
}
/* line 91, ../sass/screen.scss */
.nav li:hover {
  width: 224px;
  height: 224px;
  line-height: 224px;
}

/* line 100, ../sass/screen.scss */
.footer {
  margin-bottom: 0;
}

/* line 104, ../sass/screen.scss */
* {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
