.sass-cache
node_modules
components
js/dist/*
js/vendor/*

# Cpanel
cgi-bin
error_log

# OS Crap
.DS_Store
thumbs.db
.*.swp
*.tmproj
*.mwb
*.mwb.bak
*.sublime-*

# SCM files
.arch-params
.bzr
_darcs
.hg
.monotone
.svn
.project
.env

# preserve
!js/vendor/jquery
!js/vendor/mootools